fastapi
uvicorn[standard]
python-dotenv
httpx
beautifulsoup4
sqlalchemy
psycopg2-binary
pydantic
email-validator
google-genai
python-multipart
python-jose[cryptography]
argon2-cffi
passlib
bcrypt
numpy
pypdf
sentence-transformers